.top-nav {
  background-color: var(--dark-grey);
  color: white;
  font-size: 1.125em;
  position: sticky;
  top: 0;
}
.main-nav {
  padding: 1em 3em;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  height: 4em;
}

/* .main-nav .logo-container img {
  max-height: 0px;
} */

/* Right nav Desktop */

.main-nav ul.desktop {
  display: flex;
}
.main-nav .mobile {
  display: none;
  flex-direction: column;
}
@media only screen and (max-width: 768px) {
  .main-nav ul.desktop {
    display: none;
  }
  .main-nav .mobile {
    display: flex;
  }
}

.main-nav li {
  list-style: none;
  display: flex;
  align-items: center; /* Centers items vertically */
  justify-content: center;
  margin-left: 2em;
}

.main-nav .logo-container {
  display: flex;
  align-items: center; /* Centers items vertically */
  justify-content: center;
}

.top-nav a {
  margin-top: auto;
  margin-bottom: auto;
  text-decoration: none;
  color: var(--white);
  padding: 0.5em;
  transition: color 0.5s ease-out;
}
.top-nav a:hover {
  color: var(--light-grey);
}

.mobile {
  display: none;
}

/* @media only screen and (max-width: 768px) {
  .main-nav {
    background-color: aquamarine;
  }
} */

/* .hamburger img {
  max-height: 1.5em;
  color: var(--white);
} */
.hamburger {
  cursor: pointer;
  width: 2em;
  height: 2em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.hamburger svg {
  height: 100%;
  height: 100%;
  color: var(--white);
}

.line {
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform-origin: 50% 50%; /* ensures rotation stays centered */
}

/* Active (X shape) */
.hamburger.active .top {
  /* transform: translateY(8.25px) rotate(-45deg) translateX(6px); */
  transform: translateY(0.5em) rotate(-45deg) translateX(0.333333em);
}
.hamburger.active .middle {
  opacity: 0;
}
.hamburger.active .bottom {
  /* transform: translateY(-8.25px) rotate(45deg) translateX(6px); */
  transform: translateY(-0.45em) rotate(45deg) translateX(0.333333em);
}

.dropdown {
  background-color: var(--dark-grey);
  height: 0vh;
  position: absolute;
  top: 4em;
  width: 100%;
  z-index: 99;
  transition: height 0.5s ease-out;
  overflow: hidden;
}
.dropdown-active {
  height: 25vh;
}
.dropdown ul {
  display: flex;
  flex-direction: column;
  padding-right: 3em;
  list-style: none;
  gap: 1.5em;
  padding-top: 1em;
}
.dropdown li {
  max-width: 100%;
  margin-left: auto;
  align-items: center;
}
