/* Main CSS */
/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

body,
html {
  height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
dl,
dd,
ul,
ol,
fieldset,
legend,
textarea,
pre,
button {
  margin: 0;
  padding: 0;
}

:root {
  --black: #000;
  --dark-grey: #323232;
  --dark-grey-mid: #6d6b68;
  --light-grey-mid: #8f8d8b;
  --light-grey: #dad4ce;
  --white: #fff;

  --green: #31dd56;
  --red: #dd3030;
  --yellow: #d9df20;
  --blue: #5242e8;
}

main {
  height: 150vh;
}

.wrapper {
  width: 82.5%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

/* hero */
.image-1 {
  background-image: url("../images/pexels-zoedoingthings-944636.jpg");
}
.image-2 {
  background-image: url("../images/pexels-romanp-23383.jpg");
}
.parallax {
  position: relative;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

.scroll-section {
  height: 100vh;
  background-color: red;
  color: white;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bg-container-medium {
  width: 80%;
  height: 40%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.parallax h1 {
  font-size: 2.75em;
}
.parallax p {
  font-size: 1.125em;
  line-height: 1.5em;
  margin: 0 2em 0 2em;
}

.parallax-container {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 4em;
}

.blurred-background {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  mask: radial-gradient(#eeaeca 0%, #94bbe9 60%, transparent);
  box-shadow: 0 0 3em 3em rgba(255, 255, 255, 0) inset;

  width: 100%;
  height: 100%;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  z-index: 1;
  border-radius: 3em;
}

.bg-container-forground {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin: 0 2em 0 2em;
}

.scroll-section,
.parallax-container {
  transition: transform 0.2s ease-out;
}
